.board {
  color: red;
}
.box-container {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: auto;
  .box {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    display: grid;
  }
  .box.box-clicked:before {
    content: "X";
    align-content: center;
    grid-column: 2;
    grid-row: 2;
    font-size: 25px;
  }
  .box.box-clicked {
    background-color: green;
  }
  .box.ai-clicked:before {
    content: "O";
  }
  .box.ai-clicked {
    background-color: pink;
  }
  .box:hover{
    cursor: pointer; 
  }
}
