.board {
  color: red;
}
.box-container {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: auto;
  .box {
    border: 1px solid black;
    width: 50px;
    height: 50px;
  }
  .box.box-clicked {
    background-color: green;
  }
  .box:hover{
    cursor: pointer; 
  }
}
